@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-background text-base-text;
    }
}

body {
    -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 130%;
    font-weight: 400;
}

button {
    border: none;
    cursor: pointer;
}

.grid-area-for-checkout {
    grid-template-areas:
        'cep . .'
        'street street street'
        'number fullAddress fullAddress'
        'neighborhood city state';
}

@media (max-width: 1024px) {
    .grid-area-for-checkout {
        grid-template-areas:
            'cep cep .'
            'street street .'
            'number fullAddress fullAddress'
            'neighborhood neighborhood neighborhood'
            'city city state';
    }
}

@media (max-width: 724px) {
    .grid-area-for-checkout {
        grid-template-areas:
            'cep cep cep'
            'street street street'
            'number fullAddress fullAddress'
            'neighborhood neighborhood neighborhood'
            'city city state';
    }
}

@media (max-width: 724px) {
    .grid-area-for-checkout {
        grid-template-areas:
            'cep cep cep'
            'street street street'
            'number number number'
            'fullAddress fullAddress fullAddress'
            'neighborhood neighborhood neighborhood'
            'city city state';
    }
}
