@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@layer base {
    body {
        @apply bg-background text-base-text;
    }
}

body {
    -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 130%;
    font-weight: 400;
}

button {
    border: none;
    cursor: pointer;
}
